<?xml version="1.0"?>
<launch>

  <!-- <rosparam param="/vive/world_offset">[-1.28834, -1.05249, 2.06096]</rosparam> -->
  <!-- <rosparam param="/vive/world_offset">[-0.153013, -3.03076, 0.345397]</rosparam> -->

  <!-- <rosparam param="/vive/world_yaw">-1.20568</rosparam> -->

  <node name="vive_node" pkg="vive_ros" type="vive_node" launch-prefix="$(find vive_ros)/scripts/find_steam_runtime.sh" output="screen" required="true"/>

</launch>

